body {
    background-color: grey;
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 0;
}

span {
    text-decoration: underline;
}

/*****ID SELECTORS*****/

#top-container {
    background-color: #A799B7;
    position: relative;
    padding-top: 100px;
}

#middle-container {
    width: 200px;
    height: 200px;
    background-color: red;
}

#bottom-container {
    width: 200px;
    height: 200px;
    background-color: blue;
}

/*****CLASS SELECTORS*****/

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}